@use 'variables' as *;

.ddr-dice-renderer-container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}

#ddr-dices-container .drawer-toggle button {
    background: transparent;
    border: none;
}

@media screen and (max-width: 1000px) {
  #ddr-dice-panel {
    height: calc(100dvh - 45px);
    min-width: 100dvw !important;
    width: 100dvw !important;
    max-width: 100dvw !important;
    overflow-y: hidden;
    border-left: 1px solid var(--SmartThemeBorderColor);
    border-right: 1px solid var(--SmartThemeBorderColor);
    border-bottom: 1px solid var(--SmartThemeBorderColor);
    border-radius: 0 0 20px 20px;
    top: var(--topBarBlockSize) !important;
    left: 0 !important;
    backdrop-filter: blur(calc(var(--SmartThemeBlurStrength) * 2));
  }
}
